<h1>Climbing Adventures!</h1>

<ul>
  <li><a href="/areas">Areas Index</a></li>
  <li><a href="/areas/new">New Area</a></li>
  <li><a href="/climbs">Climbs Index</a></li>
  <li><a href="/cities">Cities</a></li>
</ul>
